/*	Template level css needed for all 3D graphic pages
* 	----------------------------------------------------------------------------------------------*/

section{
	position:relative;
}
p{
	color: $grey-accent2;
}

// Vertical Social bar
.vertical-social {
	.midnightHeader {
		&.default {
			background: #194089;
			ul{
				li{
					a{
						color: #fff;
						opacity: 1;
						&:hover{
							opacity: 0.75;
						}
					}
				}
			}
		}
		&.white {
			background: #fff;
			ul{
				li{
					a{
						color: #000;
					}
				}
			}
		}
	}
}

// Navbar fixed bg color
header{
	.navbar{
		&.navbar-fixed{
			background: $header-gradient2;
		}		
	}
}
#navigation{
  // Sliding Underline
  #slide-line{
    background-color: $btn-gradient-orange-1;

  }
}
.bg-color{
 	background-color: $section-bg;
}

.bg-gradient{
	background: linear-gradient(to right, $section-gradient1, $section-gradient2);

	p{
		color: $dark-bg-color1;
	}
}

.dark-bg-text-color{
	color: $dark-bg-color1;
}

.crypto-3d-graphic{
	position: relative;
	// margin-top: 100px;
	.graphic-3d-img{
		width: 740px;
	}
}

.problem-solution{
	position:relative;
	&.section-pro{
		&:before{
			@include parallax("../../theme-assets/images/solution-shape.png");
		}
	}
}
#token-sale-mobile-app{
	.token-sale {
		h5{
			color: $white;
		}
		ul.token-sale-info {
			li {
				color: $dark-bg-color1;
			}
		}
	}
}
.our-coin{
	position:relative;
	&.section-pro{
		&:before{
			@include parallax("../../theme-assets/images/our-coin-shape.png");
		}
	}
}
.team{
	.team-width{
		p,span{
			color: $white !important;
		}
	}
	.profile{
		.name{
			color: $white !important;
		}
		.role{
			color: $dark-bg-color1 !important;
		}
		.social-profile{
			a{
				color: $dark-bg-color1 !important;
			}
		}
	}
}
.advisor{
		.profile{
			.name{
				color: $grey-accent2 !important;
			}
			.role{
				color: $grey-accent3 !important;
			}
		}
}

.ico-modal{
	.close {
		position:absolute;
		right:0;
		top:-30px;
		z-index:999;
		font-size:2rem;
		font-weight: normal;
		color:#fff;
		opacity:1;
	}
}



// Responsive

// Large devices (desktops, less than 1500px)
@media (min-width: 1200px) and (max-width: 1499.98px) {
	.crypto-3d-graphic .graphic-3d-img{
		width: 590px;
	}
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {
	.crypto-3d-graphic .graphic-3d-img{
		width: 480px;
	}
	.head-area{
		.head-content{
			.banner-content{
				padding-top: 0.5rem !important;
			}
			h1{
				font-size: 1.5rem;
				line-height: 2rem;
			}
			h3{
				margin-top: 2rem;
				font-size: 1rem	;
				line-height: 1.5rem	;
			}
			.btn{
				padding: 0.6rem 1rem;
				font-size: 0.8rem;
			}
		}
	}
	
	.dark-bg-heading .sub-title, .heading .sub-title{
		font-size: 4.625rem !important;
	}
	.about{
		.content-area{
			.what-is-crypto-img{
				img{
					width: 450px;
				}
			}
			.play-video{
				left: 54%;
			}
		}
	}
	.token-img{
		img{
			width: 450px;
		}
	}
	.mobile-app{
		.mobile-app-imgs{
			.mobile-app-img-1{
				width: 375px;
			}
			.mobile-app-img-2{
				width: 102px;
				top: 55px;
				left: 220px;
			}
			.mobile-app-img-3{
				width: 174px;
				top: -13px;
				left: 210px;
			}
			.mobile-app-img-4{
				width: 220px;
				top: -114px;
				left: 235px;
			}
		}
	}

	.next-slide{
		right: 14px !important;
	}
	.prev-slide{
		left: 14px !important;
	}
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {
	.crypto-3d-graphic .graphic-3d-img{
		width: 550px;
	}
	.head-area{
		.head-content{
			.banner-content{
				padding-top: 0.5rem !important;
				text-align: center;
			}
			h1{
				font-size: 1.5rem;
				line-height: 2rem;
			}
			h3{
				margin-top: 2rem !important;
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}

	.dark-bg-heading .sub-title, .heading .sub-title{
		font-size: 4rem !important;
		top: 6% !important;
	}
	.about{
		.content-area{
			.what-is-crypto-img{
				text-align: center;
			}
			.play-video{
				left: 52%;
			}
		}
	}
	.move-first{
		order: -1;
	}
	.whitepaper-img{
		text-align:center;
		margin-bottom: 3rem;
	}
	.token-distribution{
		.token-img{
			text-align:center;
			margin-bottom: 3rem;
			img{
				width: 450px;
			}
		}
	}
	.coin-img{
		text-align:center;
	}
	.roadmap{
		.next-slide{
			right: 2px;
		}
		.prev-slide{
			left: 2px;
		}
	}
}

// Responsive navbar for medium and small screen
@include media-breakpoint-down(md) { 
	.main-menu.navbar {
		&.navbar-absolute.open {
			background: darken($header-gradient2, 1%);		   	
		}
		.dropdown-menu {			
			background: lighten($header-gradient2, 5%);
			box-shadow: none !important;
			
			a{
				color: $white;
			}
		}		
	}
	.faq .nav.nav-underline a{
		font-size: 1rem;
	}
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {
	
	.graphic-3d-img{
		width: 525px !important;
	}
	.head-area{
		.head-content{
			.banner-content{
				padding-top: 0.5rem !important;
				text-align: center;
			}
			h1{
				font-size: 1.5rem;
				line-height: 2rem;
			}
			h3{
				margin-top: 2rem !important;
				font-size: 1rem;
				line-height: 1.5rem;
			}
			.btn{
				padding: 0.8rem;
				font-size: 0.8rem;
			}
		}
	}
	.section-padding{
		padding: 3rem 0;
	}
	.dark-bg-heading{
		margin-bottom: 3rem !important;
	}
	.dark-bg-heading .sub-title, .heading .sub-title{
		font-size: 2.75rem;
		top: 14%;
	}
	.title{
		font-size: 1.5rem;
	}
	.about{
		.content-area{
			.what-is-crypto-img{
				text-align: center;
			}
			.play-video{
				left: 52%;
			}
		}
	}
	.move-first{
		order: -1;
	}
	.whitepaper-img{
		text-align:center;
		margin-bottom: 3rem;
	}
	.token-distribution{
		.token-img{
			margin-bottom: 3rem;
		}
	}
	.roadmap {
		.timestamp {
			&.active{
				span{
					&:after{
						left: 44.6%;
					}
				}
			}
			span{
				&:after{
					left: 44.6%;
				}
			}
		}
		.next-slide{
			right: -8px;
		}
		.prev-slide{
			left: -8px;
		}
	}
	.contact {
		.contact-info{
			display: block;
			li{
				margin: 1rem 0;
			}
		}
	}
	.coin-img{
		text-align:center;
	}
}


// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {
	.graphic-3d-img{
		width: 300px !important;
	}
	.head-area{
		.head-content{
			.banner-content{
				padding-top: 0.5rem !important;
				text-align: center;
			}
			h1{
				font-size: 1.2rem;
				line-height: 2rem;
			}
			h3{
				margin-top: 2rem !important;
				font-size: 1rem;
				line-height: 1.5rem;
			}
			.btn{
				padding: 0.8rem;
				font-size: 0.8rem;
			}
		}
	}
	.section-padding{
		padding: 3rem 0 !important;
	}
	.dark-bg-heading{
		margin-bottom: 3rem !important;
	}
	.dark-bg-heading .sub-title, .heading .sub-title{
		display: none;
	}
	.dark-bg-heading .title, .heading .title{
		font-size: 1.4rem;
	}
	.move-first{
		order: -1;
	}
	.about{
		.content-area{
			.what-is-crypto-img{
				text-align: center;				
			}
			h2.font-large{
				font-size: 1.4rem;
				line-height: 1.5rem;
			}
			h3.font-medium{
				font-size: 0.9rem;
			}
			.play-video{
				top: 75%;
				left: 53%;
				.play{
					padding: 0.75rem;
					height: 50px;
					width: 50px;
					i{
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.problems-img, .solutions-img{
		width: 250px;
	}

	.whitepaper-img{
		text-align:center;
		margin-bottom: 3rem;
	}	
	.token-distribution{
		.token-img{
			text-align:center;
			margin-bottom: 3rem;
		}
	}
	.token-details {
		.clock-counter{
			.flip-clock-wrapper {
				.flip{
					margin: 2px;
					height: 24px;
					padding: 23px 1px;
					li{
						top: 6px;
						a {
							.up{
								.inn {
									font-size:1.5rem;
									top: -16px;
								}
							}
							.down{
								.inn {
									font-size:1.5rem;
									bottom: 16px;
								}
							}
						}
					}
				}
				.flip-clock-dot{
					width: 4px;
					height: 4px;
					left: 2px;
					&.top{
						top: 16px;
					}
					&.bottom{
						bottom: 64px;
					}
				}
			}
			.flip-clock-divider{
				&.days{
					.flip-clock-label{
						left: -20px;
					}
				}
				&.hours{
					.flip-clock-label{
						left: -8px;
					}
				}
				&.minutes{
					.flip-clock-label{
						left: -7px;
					}
				}
				&.seconds{
					.flip-clock-label{
						left: 0px;
					}
				}
			}
		}
		.progress-bottom{
			top: 2rem;
		}
	}
	.roadmap {
		.timestamp {
			&.active{
				span{
					&:after{
						left: 44.1%;
					}
				}
			}
			span{
				&:after{
					left: 44.1%;
				}
			}
		}
		.next-slide{
			right: -14px;
		}
		.prev-slide{
			left: -14px;
		}
	}
	.contact {
		.contact-info{
			display: block;
			li{
				margin: 1rem 0;
				i{
					font-size: 1.12rem;
					line-height: 1.5rem;
				}
			}
		}
	}
	.coin-img{
		text-align:center;
		img{
			width: 200px;
		}
	}
	.mobile-app{
		.mobile-app-imgs{
			.mobile-app-img-1{
				width: 250px;
			}
			.mobile-app-img-2{
				width: 70px;
				top: 36px;
				left: 145px;
			}
			.mobile-app-img-3{
				width: 115px;
				top: -9px;
				left: 141px;
			}
			.mobile-app-img-4{
				width: 175px;
				top: -92px;
				left: 146px;
			}
		}
		margin-top: 3rem !important;
		.btn{
			padding: 1rem !important;
			span{
				padding-right: 1rem !important;
			}
		}
	}
}