/* Tokens Sale section : Tokens sale information list */
.token-sale{
	h5{
		font-weight: 700;
		color: $grey-accent2;
		text-align:center;
	}
	/* Tokens sale list */
	ul.token-sale-info{
		padding-left: 8px;
		font-size: 0.875rem;
		li{
			padding: 1rem 0;
			color: $grey-accent3;
			&:before{
				color: $token-sale-icon-color;
			    content: "\e65d";
			    font-family: 'themify';
			    margin-right: 10px;
			    position: absolute;
			    left: -3px;
				font-size: $font-medium;
				margin-top: -4px;
			}
		}
	}
}