/* 3d animation footer section : footer area css */

.footer{
	margin-top: 6.5rem;
	padding-top: 18.5rem;
	padding-bottom: 2.5rem;
	position: relative;
	background: url("../../theme-assets/images-3d-animation/footer-image.png") no-repeat center center;
	background-size: cover;
	&.footer-dark{
		color: $white;
	}
	&.footer-light{
		color: $black;
	}
	.footer-wrapper {
		.title{
			margin-bottom: 55px;
		}		
		.logo-text{
			font-size: 1.5rem;
		}
		ul.useful-links{
			padding: 0;
			li{
				line-height: 30px;
				a{
					color: $white;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		// Social buttons css footer
		ul{
			&.social-buttons{
				li{
					display: inline-block;
					a{	
						padding: 0;
						color: $white;
						margin-right: 1rem;
						font-size: $font-medium;
						i{
							vertical-align: middle;
						}
						&:hover{
							color: $button-gradient1;
						}
					}
				}
			}
		}
		// Twitter feed css
		.feed{
			span{
				display: block;
				margin-bottom: 25px;
				font-size: $font-small;
			}
		}
		// copyright css
		.copyright{
			font-size: $font-xsmall;
		}
	}
}