/* 3d animation header section : Head area css */

.head-area{
	position: relative;
	.btn{
		padding: 1rem 2.2rem 1rem 2.2rem;
	}
	.head-content{
		height: 100vh;
		z-index: 6;
		h1{
			color: $white;
			font-size: 1.9rem;
			line-height: 2.75rem;
			font-weight: 700;
		}
		h3{
			margin-top: 4.375rem;
			color: $white;
			font-size: 1.125rem;
			line-height: 1.9rem;
			font-weight: 500;
		}
		.container{
			z-index: 9;
		}
	}
}