/*  Form Component css
    -------------------------------------------------------------------------------------------*/

.form-control{
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $separator;
	color: $grey-accent3;
	font-size: $font-small;
	padding: 1rem 0.5rem;
	margin-bottom: 3.5rem;
	background: none;
	&:focus{
		box-shadow:none !important;
		background: transparent;
	}
}