/*	particles position scss
*   -------------------------------------------------------------------------------------------*/


.particles-js-canvas-el{
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100vh !important;
}