/*  Theme Utilities css
    -------------------------------------------------------------------------------------------*/

:focus{
  outline: none !important;
}

/* Font-size */
.font-xlarge{
  font-size: $font-xlarge;
}
.font-large{
  font-size: $font-large;
  line-height: $font-large;
}
.font-medium{
  font-size: $font-medium;
}
.font-small{
  font-size: $font-small;
}
.font-xsmall{
  font-size: $font-xsmall;
}

/*  Grey Color */
.grey-accent1{
  color: $grey-accent1;
}
.grey-accent2{
  color: $grey-accent2;
}
.grey-accent3{
  color: $grey-accent3;
}

.white{
  color: $white;
}
.black{
  color: $black;
}

/* Box Shadow */
.box-shadow-0 {
  box-shadow: none !important; }

.box-shadow-1 {
  box-shadow: 0 7px 12px 0 rgba(29, 120, 255, 0.16); }

.box-shadow-2 {
  box-shadow: 0 10px 18px 0 rgba(29, 120, 255, 0.2); }

.box-shadow-3 {
  box-shadow: 0 14px 24px 0 rgba(29, 120, 255, 0.26); }

.box-shadow-4 {
  box-shadow: 0 16px 28px 0 rgba(29, 120, 255, 0.3); }

.box-shadow-5 {
  box-shadow: 0 27px 24px 0 rgba(29, 120, 255, 0.36); }

/* Line height */
.line-height-1{
  line-height:$line-height-1;
}
.line-height-2{
  line-height:$line-height-2;
}
.line-height-3{
  line-height:$line-height-3;
}


/* Extra small devices (portrait phones, less than 576px) */
/* (max-width: 575.98px) */
@include media-breakpoint-only(xs) {
/* Margin/padding for Extra small screen (<576) */
  .ml-xs-0{
    margin-left: 0 !important; }
  .mr-xs-0 {
    margin-right: 0 !important; }
  .mt-xs-3 {
    margin-top: 1rem !important; }
  .mr-xs-3 {
    margin-right: 1rem !important; }
  .ml-xs-3 {
    margin-left: 1rem !important; }
  .mt-xs-5 {
    margin-top: 3rem !important; }
  .mb-xs-5 {
    margin-bottom: 3rem !important; }
  .pt-xs-3 {
    padding-top: 1rem !important; }
  .pt-xs-5 {
    padding-top: 3rem !important; }
  .pb-xs-5 {
    padding-bottom: 3rem !important; }
}

/* Mask Animation */
.maskUp {
  animation-name: maskUp;
}

.maskRight {
  animation-name: maskRight;
}

.maskDown {
  animation-name: maskDown;
}

.maskLeft {
  animation-name: maskLeft;
}

/* Mask Up */
@keyframes maskUp {
  from {    
    transform: translate(0, 100%);
  }

  to {    
    transform: translate(0, 0);
  }
}
/* Mask Right */

@keyframes maskRight {
  from {    
    transform: translate(-100%, 0);
  }

  to {    
    transform: translate(0, 0);
  }
}
/* Mask Down */

@keyframes maskDown {
  from {    
    transform: translate(0, -100%);
  }

  to {    
    transform: translate(0, 0);
  }
}
/* Mask Left */

@keyframes maskLeft {
  from {    
    transform: translate(100%, 0);
  }

  to {    
    transform: translate(0, 0);
  }
}

/* FedIn Shorter*/
.fadeInUpShorter {
  animation-name: fadeInUpShorter;
}
.fadeInUpShortest {
  animation-name: fadeInUpShortest;
}
.fadeInLeftShorter {
  animation-name: fadeInLeftShorter;
}

.fadeInRightShorter {
  animation-name: fadeInRightShorter;
}

.fadeInDownShorter {
  animation-name: fadeInDownShorter;
}

.fadeInDownShorterAbsCenter {
  animation-name: fadeInDownShorterAbsCenter;
}

/* Fade In Up Shorter */
@keyframes fadeInUpShorter {
  from {
    opacity: 0;    
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;    
    transform: none;
  }
}
@keyframes fadeInUpShortest {
  from {
    opacity: 0;    
    transform: translate(0, 25px);
  }
  to {
    opacity: 1;    
    transform: none;
  }
}
/* Fade In Left Shorter */
@keyframes fadeInLeftShorter {
  from {
    opacity: 0;    
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;    
    transform: translate(0, 0);
  }
}
/* Fade In Right Shorter */
@keyframes fadeInRightShorter {
  from {
    opacity: 0;    
    transform: translate(-50px, 0);
  }
  to {
    opacity: 1;    
    transform: translate(0, 0);
  }
}
/* Fade In Down Shorter */
@keyframes fadeInDownShorter {
  from {
    opacity: 0;    
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;    
    transform: translate(0, 0);
  }
}
/* Fade In Down Shorter - Absolute Center */
@keyframes fadeInDownShorterAbsCenter {
  from {
    opacity: 0;    
    transform: translate(-50%, -50px);
  }
  to {
    opacity: 1;    
    transform: translate(-50%, 0);
  }
}


.expandIn {
  animation-name: expandIn;
}

.blurIn {
  animation-name: blurIn;
}
/* Expand In */
@keyframes expandIn {
  from {
    opacity: 0;    
    transform: scale(0.8);
  }

  to {
    opacity: 1;    
    transform: scale(1);
  }
}
/* Blur In */
@keyframes blurIn {
  from {
    opacity: 0;    
    filter: blur(20px);    
    transform: scale(1.3);
  }

  to {
    opacity: 1;    
    filter: blur(0);    
    transform: none;
  }
}


.stepsFadeInUp {
  animation-name: stepsFadeInUp;
}

.stepsFadeInLeft {
  animation-name: stepsFadeInLeft;
}

.stepsFadeInRight {
  animation-name: stepsFadeInRight;
}

/* Steps Fade In Up */

@keyframes stepsFadeInUp {
  from {
    opacity: 0;    
    transform: translate(-50%, 25%);
  }

  to {
    opacity: 1;    
    transform: translate(-50%, -50%);
  }
}
/* Steps Fade In Left */
@keyframes stepsFadeInLeft {
  from {
    opacity: 0;    
    transform: translate(-75%, -50%);
  }

  to {
    opacity: 1;    
    transform: translate(-50%, -50%);
  }
}
/* Steps Fade In Right */
@keyframes stepsFadeInRight {
  from {
    opacity: 0;    
    transform: translate(-25%, -50%);
  }

  to {
    opacity: 1;    
    transform: translate(-50%, -50%);
  }
}


.textBgFadeInUp {
  animation-name: textBgFadeInUp;
}

.textBgFadeInUpDark {
  animation-name: textBgFadeInUpDark;
}

.textBgFadeInUp2 {
  animation-name: textBgFadeInUp2;
}

/* Text bg Fade In Up */
@keyframes textBgFadeInUp {
  from {
    opacity: 0;    
    transform: translate(-50%, 200%);
  }

  to {
    opacity: 0.06;    
    transform: translate(-50%, 0);
  }
}
/* Text bg Fade In Up Dark */

@keyframes textBgFadeInUpDark {
  from {
    opacity: 0;    
    transform: translate(-50%, 200%);
  }

  to {
    opacity: 0.02;    
    transform: translate(-50%, 0);
  }
}
/* Text bg Fade In Up 2 */
@keyframes textBgFadeInUp2 {
  from {
    opacity: 0;    
    transform: translate(-50%, 200%);
  }

  to {
    opacity: 0.5;    
    transform: translate(-50%, 0);
  }
}


.fadeInScale {
  animation-name: fadeInScale;
}

/* Fade In Scale */
@keyframes fadeInScale {
  from {
    opacity: 0;    
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scaleOut {
  animation-name: scaleOut;
}
@keyframes scaleOut {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}